.c-pager {
  &.pc {
    margin-top: 105px;
    margin-bottom: 30px;
    text-align: center;

    .wp-pagenavi {
      text-align: center;

      @include mq-down(sm) {
        display: none;
      }

      span,
      a {
        /*数字部分の共通CSS　大きさなど*/
        display: inline-block;
        color: #707070;
        width: 35px;
        height: 35px;
        margin-right: 15px;
        line-height: 35px;
        font-size: 1.6rem;
        text-decoration: none;
        background: #fff;
        border: 1px solid #707070;

        &.current {
          /*現在のページ*/
          color: #fff;
          background: #3c2b1c;
        }
      }

      .pages {
        border: none;
        width: auto;

        &::before {
          content: "page";
        }
      }

      /*その他、必要があれば以下のクラスにcssを指定する*/
      .previouspostslink {
        border: none;
        width: auto;
        background-color: #fffdfa;
      }

      .nextpostslink {
        border: none;
        width: auto;
        background-color: #fffdfa;
      }

      // .first {
      // }

      // .last {
      // }

      // .smaller {
      // }

      // .larger {
      // }
    }
  }

  &.sp {
    display: none;

    @include mq-down(sm) {
      margin-top: 60px;
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;
      width: 100%;

      a {
        color: #707070;
        font-size: 1.6rem;
      }
    }
  }
}
