.c-top-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 68px;

  &--front {
    @extend .c-top-img;
    padding-top: calc(239 / 1553 * 100%);
    padding-bottom: calc(251 / 1553 * 100%);
    padding-left: calc(88 / 1553 * 100%);
    background-image: url(../img/top-img-front.png);

    @include mq-down(md) {
      padding-top: calc(126 / 834 * 100%);
      padding-bottom: calc(123 / 834 * 100%);
      padding-left: calc(86 / 834 * 100%);
    }

    @include mq-down(sm) {
      padding-top: calc(126 / 375 * 100%);
      padding-bottom: calc(123 / 375 * 100%);
      padding-left: calc(25 / 375 * 100%);
    }
  }

  &--archive {
    @extend .c-top-img;
    padding-top: calc(80 / 1553 * 100%);
    padding-bottom: calc(80 / 1553 * 100%);
    padding-left: calc(86 / 1553 * 100%);
    background-image: url(../img/top-img-archive.png);

    @include mq-down(md) {
      padding-top: calc(102 / 834 * 100%);
      padding-bottom: calc(102 / 834 * 100%);
      padding-left: calc(86 / 834 * 100%);
    }

    @include mq-down(sm) {
      padding-top: calc(102 / 375 * 100%);
      padding-bottom: calc(107 / 375 * 100%);
      padding-left: calc(37 / 375 * 100%);
      background-image: url(../img/top-img-archive-sm.png);
      background-position-x: left;
      background-position-y: center;
      background-size: auto;
    }
  }

  &--single {
    position: relative;
    img {
      width: 100%;
      height: calc(100vw * 500 / 1552);
      max-height: 500px;
      object-fit: cover;

      @include mq-down(md) {
        height: calc(100vw * 500 / 834);
      }
      @include mq-down(sm) {
        height: calc(100vw * 224 / 375);
      }
    }
  }

  // &--page {
  //   @extend .c-top-img--single;
  //   background-image: url(../img/top-img-page.png);
  // }

  &__text {
    color: #fff;
    font-family: "M PLUS 1p";

    &--front {
      @extend .c-top-img__text;
      height: 36px;
      font-size: 4rem;
      line-height: 1.2;

      @include mq-down(md) {
        height: 36px;
        font-size: 3.6rem;
      }

      @include mq-down(sm) {
        height: 36px;
      }
    }

    &--archive {
      @extend .c-top-img__text;
      height: 74px;
      font-size: 6rem;
      font-weight: 500;
      line-height: 1.3;

      @include mq-down(sm) {
        height: 74px;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.2;
      }
    }

    &--single {
      @extend .c-top-img__text;
      position: absolute;
      top: 50%;
      left: 82px;
      transform: translate(0, -50%);
      height: 72px;
      font-size: 6rem;
      font-weight: 500;
      line-height: 1.3;

      @include mq-down(sm) {
        height: 43px;
        left: 26px;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.2;
      }
    }

    &--category {
      @extend .c-top-img__text;
      margin-left: calc(20 / 1553 * 100%);
      vertical-align: middle;
      font-size: 1.6rem;
      line-height: 1.2;

      @include mq-down(sm) {
        &::before {
          content: "\A";
          white-space: pre;
        }
      }
    }
  }
}
