.l-archive {
  max-width: 1553px;
  grid-row: 2/3;
  margin-left: 100px;
  margin-right: 100px;

  @include mq-down(md) {
    margin-left: 42px;
    margin-right: 42px;
  }

  @include mq-down(sm) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
