.p-sidebar__back {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: -200%;
  width: 100%;
  min-height: 100%;
  z-index: 1200;
  overflow-y: auto;

  &.is-open {
    right: 0;
    position: fixed;
  }
}

.p-sidebar__inner {
  height: 100%;
  width: auto;
  background-color: #f2ede9;

  @include mq-down(md) {
    display: none;
  }

  &.is-open {
    // sidebarの高さをl-containerに合わせる
    // l-containerにoverflow: hidden;も書く
    // padding-bottom: 10000px;
    // margin-bottom: -10000px;
    overflow-y: scroll;
    display: block;
    height: 100vh;
    animation: fadeIn 0.3s linear 0s;

    i {
      display: block;
    }

    h2 {
      display: none;
    }

    .p-sidebar__menu {
      padding-top: 188px;
      margin-bottom: 526px;
      font-size: 2.4rem;

      .sub-menu {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }

  i {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #707070;
  }

  > h2 {
    // font-size: 3.4rem;
    font-size: 1.8vw;
    line-height: 1.3;
    color: #707070;
    padding-top: 82px;
    padding-left: 42px;
  }
}

.p-sidebar__menu {
  font-family: "M+ Type-1 (general-j) Regular";
  font-weight: 500;
  padding-top: 90px;
  padding-left: 46px;
  // font-size: 2.4rem;
  font-size: 1.3vw;
  line-height: 1.2;

  a {
    display: block;
    font-weight: 400;
  }

  a:visited,
  a:link {
    color: #707070;
  }

  a:hover {
    color: #a0a0a0;
  }

  .sub-menu {
    padding-top: 45px;
    // font-size: 2rem;
    font-size: 1.05vw;
    line-height: 1.2;

    li {
      padding-left: 26px;
      padding-bottom: 30px;
    }

    li:last-child {
      padding-bottom: 52px;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(376px); //右から左へスライド
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
