@charset "UTF-8";
/*==================================================
** Foundation
==================================================*/
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

html {
  font-size: 62.5%;
}

body {
  color: #131d34;
  font-size: 1.6em;
  font-family: "Roboto", "M PLUS 1p", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  letter-spacing: 0.068em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

body.is-open {
  overflow: hidden;
}

.l-container {
  position: relative;
  max-width: 1920px;
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 217px auto 150px;
      grid-template-rows: 217px auto 150px;
  -ms-grid-columns: minmax(690px, 1552px) minmax(20px, 367px);
      grid-template-columns: minmax(690px, 1552px) minmax(20px, 367px);
}

@media screen and (max-width: 961px) {
  .l-container {
    display: block;
    overflow: hidden;
  }
}

.l-header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  z-index: 1000;
}

@media screen and (max-width: 961px) {
  .l-header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.l-main {
  position: relative;
  z-index: 900;
  max-width: 1553px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #fffdfa;
}

.l-sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 961px) {
  .l-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 367px;
    z-index: 1200;
  }
}

.l-footer {
  position: relative;
  width: auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.l-archive {
  max-width: 1553px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 961px) {
  .l-archive {
    margin-left: 42px;
    margin-right: 42px;
  }
}

@media screen and (max-width: 640px) {
  .l-archive {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.l-single {
  max-width: 1553px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 961px) {
  .l-single {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media screen and (max-width: 640px) {
  .l-single {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.c-top-img, .c-top-img--front, .c-top-img--page, .c-top-img--archive {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 68px;
}

.c-top-img--front, .c-top-img--page {
  padding-top: calc(239 / 1553 * 100%);
  padding-bottom: calc(251 / 1553 * 100%);
  padding-left: calc(88 / 1553 * 100%);
  background-image: url(../img/top-img-front.png);
}

@media screen and (max-width: 961px) {
  .c-top-img--front, .c-top-img--page {
    padding-top: calc(126 / 834 * 100%);
    padding-bottom: calc(123 / 834 * 100%);
    padding-left: calc(86 / 834 * 100%);
  }
}

@media screen and (max-width: 640px) {
  .c-top-img--front, .c-top-img--page {
    padding-top: calc(126 / 375 * 100%);
    padding-bottom: calc(123 / 375 * 100%);
    padding-left: calc(25 / 375 * 100%);
  }
}

.c-top-img--archive {
  padding-top: calc(80 / 1553 * 100%);
  padding-bottom: calc(80 / 1553 * 100%);
  padding-left: calc(86 / 1553 * 100%);
  background-image: url(../img/top-img-archive.png);
}

@media screen and (max-width: 961px) {
  .c-top-img--archive {
    padding-top: calc(102 / 834 * 100%);
    padding-bottom: calc(102 / 834 * 100%);
    padding-left: calc(86 / 834 * 100%);
  }
}

@media screen and (max-width: 640px) {
  .c-top-img--archive {
    padding-top: calc(102 / 375 * 100%);
    padding-bottom: calc(107 / 375 * 100%);
    padding-left: calc(37 / 375 * 100%);
    background-image: url(../img/top-img-archive-sm.png);
    background-position-x: left;
    background-position-y: center;
    background-size: auto;
  }
}

.c-top-img--single {
  position: relative;
}

.c-top-img--single img {
  width: 100%;
  height: calc(100vw * 500 / 1552);
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 961px) {
  .c-top-img--single img {
    height: calc(100vw * 500 / 834);
  }
}

@media screen and (max-width: 640px) {
  .c-top-img--single img {
    height: calc(100vw * 224 / 375);
  }
}

.c-top-img--page {
  background-image: url(../img/top-img-page.png);
}

.c-top-img__text, .c-top-img__text--front, .c-top-img__text--page, .c-top-img__text--archive, .c-top-img__text--single, .c-top-img__text--category {
  color: #fff;
  font-family: "M PLUS 1p";
}

.c-top-img__text--front, .c-top-img__text--page {
  height: 36px;
  font-size: 4rem;
  line-height: 1.2;
}

@media screen and (max-width: 961px) {
  .c-top-img__text--front, .c-top-img__text--page {
    height: 36px;
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 640px) {
  .c-top-img__text--front, .c-top-img__text--page {
    height: 36px;
  }
}

.c-top-img__text--archive {
  height: 74px;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (max-width: 640px) {
  .c-top-img__text--archive {
    height: 74px;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.2;
  }
}

.c-top-img__text--single {
  position: absolute;
  top: 50%;
  left: 82px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 72px;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (max-width: 640px) {
  .c-top-img__text--single {
    height: 43px;
    left: 26px;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.2;
  }
}

.c-top-img__text--category {
  margin-left: calc(20 / 1553 * 100%);
  vertical-align: middle;
  font-size: 1.6rem;
  line-height: 1.2;
}

@media screen and (max-width: 640px) {
  .c-top-img__text--category::before {
    content: "\A";
    white-space: pre;
  }
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
  .c-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}

.c-card__thumbnail {
  width: 50%;
}

@media screen and (max-width: 640px) {
  .c-card__thumbnail {
    width: 100%;
  }
}

.c-card__thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  width: 100%;
  height: 471px;
}

@media screen and (max-width: 961px) {
  .c-card__thumbnail img {
    height: 354px;
  }
}

@media screen and (max-width: 640px) {
  .c-card__thumbnail img {
    height: calc(230 / 336 * 100%);
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.c-card__contents {
  width: 50%;
  background-color: #3c2b1c;
  color: #fff;
  font-family: "M PLUS 1p";
  line-height: 1.2;
}

@media screen and (max-width: 640px) {
  .c-card__contents {
    width: auto;
  }
}

.c-card__contents .c-card__heading a {
  display: block;
  margin-top: calc(60 * 100% / 1353 / 0.5);
  margin-left: 64px;
  font-size: 3.6rem;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 961px) {
  .c-card__contents .c-card__heading a {
    margin-top: 33px;
    margin-left: 35px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .c-card__contents .c-card__heading a {
    margin-top: 33px;
    margin-left: 17px;
    font-size: 2rem;
  }
}

.c-card__contents .c-card__caption h2 {
  margin-top: calc(60 * 100% / 1353 / 0.5);
  margin-left: 63px;
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 961px) {
  .c-card__contents .c-card__caption h2 {
    margin-top: 31px;
    margin-left: 35px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  .c-card__contents .c-card__caption h2 {
    margin-top: 31px;
    margin-left: 17px;
  }
}

.c-card__contents p {
  margin-top: calc(22 * 100% / 1353 / 0.5);
  margin-left: 63px;
  margin-right: 63px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}

@media screen and (max-width: 961px) {
  .c-card__contents p {
    margin-top: 13px;
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media screen and (max-width: 640px) {
  .c-card__contents p {
    height: 114px;
    margin-top: 13px;
    margin-left: 17px;
    margin-right: 61px;
    line-height: 1.3;
    overflow: hidden;
  }
}

.c-card__contents .c-card__button {
  text-align: center;
}

.c-card__contents .c-card__button a {
  margin-top: calc(60 * 100% / 1353 / 0.5);
  display: block;
}

@media screen and (max-width: 961px) {
  .c-card__contents .c-card__button a {
    margin-top: calc(45 * 100% / 768 / 0.5);
  }
}

@media screen and (max-width: 640px) {
  .c-card__contents .c-card__button a {
    margin-top: 40px;
    margin-bottom: calc(40 * 100% / 336);
  }
}

.c-card__contents .c-card__button a button {
  padding: 30px 106px;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: #fff;
  color: #707070;
  border-radius: 38px;
}

@media screen and (max-width: 961px) {
  .c-card__contents .c-card__button a button {
    padding: 13px 41px;
  }
}

.c-pager {
  margin-top: 105px;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .c-pager {
    margin-top: 60px;
    padding-bottom: 30px;
  }
}

.c-pager .wp-pagenavi {
  text-align: center;
  /*その他、必要があれば以下のクラスにcssを指定する*/
}

@media screen and (max-width: 640px) {
  .c-pager .wp-pagenavi {
    position: relative;
    width: auto;
    height: 100%;
  }
}

.c-pager .wp-pagenavi span,
.c-pager .wp-pagenavi a {
  /*数字部分の共通CSS　大きさなど*/
  display: inline-block;
  color: #707070;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  line-height: 35px;
  font-size: 1.6rem;
  text-decoration: none;
  background: #fff;
  border: 1px solid #707070;
}

@media screen and (max-width: 640px) {
  .c-pager .wp-pagenavi span,
  .c-pager .wp-pagenavi a {
    display: none;
  }
}

.c-pager .wp-pagenavi span.current,
.c-pager .wp-pagenavi a.current {
  /*現在のページ*/
  color: #fff;
  background: #3c2b1c;
}

@media screen and (max-width: 640px) {
  .c-pager .wp-pagenavi span.current,
  .c-pager .wp-pagenavi a.current {
    display: none;
  }
}

.c-pager .wp-pagenavi .pages {
  border: none;
  width: auto;
}

@media screen and (max-width: 640px) {
  .c-pager .wp-pagenavi .pages {
    display: none;
  }
}

.c-pager .wp-pagenavi .pages::before {
  content: "page";
}

@media screen and (max-width: 640px) {
  .c-pager .wp-pagenavi .pages::before {
    display: none;
  }
}

.c-pager .wp-pagenavi .previouspostslink {
  border: none;
  width: auto;
  background-color: #fffdfa;
}

@media screen and (max-width: 640px) {
  .c-pager .wp-pagenavi .previouspostslink {
    position: absolute;
    left: 0;
    display: inline-block;
  }
  .c-pager .wp-pagenavi .previouspostslink::after {
    content: "前へ";
  }
}

.c-pager .wp-pagenavi .nextpostslink {
  border: none;
  width: auto;
  background-color: #fffdfa;
}

@media screen and (max-width: 640px) {
  .c-pager .wp-pagenavi .nextpostslink {
    position: absolute;
    right: 0;
    display: inline-block;
  }
  .c-pager .wp-pagenavi .nextpostslink::before {
    content: "次へ";
  }
}

.p-header__inner {
  width: auto;
  height: 100%;
  background-color: #fff7ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 961px) {
  .p-header__inner {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 217px;
  }
}

.p-header__inner .sidebar-btn {
  position: absolute;
  top: 18px;
  right: 26px;
  color: #707070;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 961px) {
  .p-header__inner .sidebar-btn {
    display: inline-block;
    right: 32px;
  }
}

@media screen and (max-width: 640px) {
  .p-header__inner .sidebar-btn {
    position: absolute;
    top: 14px;
    right: 16px;
  }
}

.p-header__inner .sidebar-btn h2 {
  font-size: 3.4rem;
  line-height: 1.4;
}

@media screen and (max-width: 640px) {
  .p-header__inner .sidebar-btn h2 {
    font-size: 2rem;
  }
}

.p-header__inner a {
  margin-left: calc(65 / 1553 * 100%);
  display: inline-block;
}

.p-header__inner a .p-header__ttl {
  font-size: calc(4rem + ((1vw - 0.834rem) * 2.21));
  /*4rem-6.4remで可変*/
  font-weight: 700;
  line-height: 84px;
  color: #707070;
}

@media screen and (max-width: 961px) {
  .p-header__inner a .p-header__ttl {
    margin-top: 40px;
    font-size: 4rem;
    line-height: 1.1;
  }
}

.p-header__inner .p-search-form {
  width: calc(566 / 1553 * 100%);
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 961px) {
  .p-header__inner .p-search-form {
    margin-right: 0;
    width: calc(446 / 834 * 100%);
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 640px) {
  .p-header__inner .p-search-form {
    width: calc(310 / 375 * 100%);
  }
}

.p-header__inner .p-search-form i {
  position: absolute;
  left: 15px;
  font-size: 2.4rem;
}

.p-header__inner .p-search-form__keyword {
  display: block;
  width: 396px;
  height: 46px;
  margin-right: 14px;
  padding-left: 3em;
  background-color: #fff;
  border: solid 1px #707070;
  border-radius: 10px;
}

.p-header__inner .p-search-form__submit {
  width: 136px;
  height: 46px;
  background-color: #f2ede9;
  font-family: "M PLUS 1p";
  font-size: 1.6rem;
  font-weight: 400;
  color: #707070;
  border: solid 1px #707070;
  border-radius: 10px;
}

@media screen and (max-width: 961px) {
  .p-header__inner .p-search-form__submit {
    min-width: 58px;
  }
}

.p-branch-menu {
  position: relative;
  margin-top: calc(120 / 1553 * 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(40px, calc(111 / 1553 * 100%)) minmax(357px, 625px) calc(80 / 1553 * 100%) minmax(357px, 625px) minmax(40px, calc(111 / 1553 * 100%));
      grid-template-columns: minmax(40px, calc(111 / 1553 * 100%)) minmax(357px, 625px) calc(80 / 1553 * 100%) minmax(357px, 625px) minmax(40px, calc(111 / 1553 * 100%));
}

@media screen and (max-width: 961px) {
  .p-branch-menu {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3% auto 2% auto 3%;
        grid-template-columns: 3% auto 2% auto 3%;
  }
}

@media screen and (max-width: 640px) {
  .p-branch-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.p-branch-menu__list01 {
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

@media screen and (max-width: 640px) {
  .p-branch-menu__list01 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.p-branch-menu__list02 {
  height: 100%;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.p-branch-menu__list01, .p-branch-menu__list02 {
  position: relative;
}

.p-branch-menu__list01 img, .p-branch-menu__list02 img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.p-branch-menu__list01 h2, .p-branch-menu__list02 h2 {
  position: absolute;
  top: calc(20 / 1193 * 100%);
  left: calc(19 / 625 * 100%);
  font-size: 8rem;
  line-height: 1.1;
  color: #eaeaea;
}

@media screen and (max-width: 961px) {
  .p-branch-menu__list01 h2, .p-branch-menu__list02 h2 {
    font-size: 4rem;
  }
}

.p-branch-menu__list--dl01, .p-branch-menu__list--dl02 {
  display: inline-block;
  height: 174px;
  font-family: "M PLUS 1p";
  background-color: #fff;
  opacity: 0.8;
  color: #3c2a10;
}

.p-branch-menu__list--dl01 dt, .p-branch-menu__list--dl02 dt {
  padding-top: 22px;
  padding-left: 19px;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 400;
}

.p-branch-menu__list--dl01 dd, .p-branch-menu__list--dl02 dd {
  padding-top: 25px;
  padding-left: 19px;
  padding-right: 25px;
  padding-bottom: 3.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}

.p-branch-menu__list--dl01 {
  overflow: hidden;
  position: absolute;
  bottom: calc(211px + 100% / 625);
  left: calc(20 / 625 * 100%);
  right: calc(20 / 625 * 100%);
}

.p-branch-menu__list--dl02 {
  overflow: hidden;
  position: absolute;
  bottom: calc(20px + 100% / 625);
  left: calc(20 / 625 * 100%);
  right: calc(20 / 625 * 100%);
}

.access {
  margin-top: calc(154 / 1552 * 100%);
  height: auto;
  font-family: "M PLUS 1p";
  background-color: #000;
}

@media screen and (max-width: 961px) {
  .access {
    margin-top: 40px;
  }
}

.access__map {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 640px) {
  .access__map {
    position: relative;
    padding-bottom: 177.78%;
    height: 0;
    overflow: hidden;
  }
}

.access__map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.6;
}

.access__map--ttl {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 950px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.29);
  opacity: 1;
  color: #fff;
  font-weight: 400;
}

@media screen and (max-width: 640px) {
  .access__map--ttl {
    height: calc(415 / 691 * 100%);
  }
}

.access__map--ttl h2 {
  margin-top: calc(90 / 1552 * 100%);
  margin-left: calc(119 / 1552 * 100%);
  font-size: 3.6rem;
  line-height: 1.2;
  opacity: 1;
}

@media screen and (max-width: 961px) {
  .access__map--ttl h2 {
    margin-top: calc(40 / 834 * 100%);
    margin-left: 42px;
  }
}

@media screen and (max-width: 640px) {
  .access__map--ttl h2 {
    margin-top: calc(46 / 375 * 100%);
    font-size: 3rem;
  }
}

.access__map--ttl p {
  margin-top: calc(127 / 1552 * 100%);
  margin-left: calc(119 / 1552 * 100%);
  margin-right: calc(134 / 1552 * 100%);
  line-height: 2;
}

@media screen and (max-width: 961px) {
  .access__map--ttl p {
    overflow: hidden;
    margin-top: calc(20 / 834 * 100%);
    margin-left: 42px;
    margin-right: 29px;
  }
}

@media screen and (max-width: 640px) {
  .access__map--ttl p {
    font-size: 1.4rem;
    line-height: 2.2;
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    height: 510px;
  }
}

.p-sidebar__back {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: -200%;
  width: 100%;
  min-height: 100%;
  z-index: 1200;
  overflow-y: auto;
}

.p-sidebar__back.is-open {
  right: 0;
  position: fixed;
}

.p-sidebar__inner {
  height: 100%;
  width: auto;
  background-color: #f2ede9;
}

@media screen and (max-width: 961px) {
  .p-sidebar__inner {
    display: none;
  }
}

.p-sidebar__inner.is-open {
  overflow-y: scroll;
  display: block;
  height: 100vh;
  -webkit-animation: fadeIn 0.3s linear 0s;
          animation: fadeIn 0.3s linear 0s;
}

.p-sidebar__inner.is-open i {
  display: block;
}

.p-sidebar__inner.is-open h2 {
  display: none;
}

.p-sidebar__inner.is-open .p-sidebar__menu {
  padding-top: 188px;
  margin-bottom: 526px;
  font-size: 2.4rem;
}

.p-sidebar__inner.is-open .p-sidebar__menu .sub-menu {
  font-size: 2rem;
  font-weight: 400;
}

.p-sidebar__inner i {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  color: #707070;
}

.p-sidebar__inner > h2 {
  font-size: 1.8vw;
  line-height: 1.3;
  color: #707070;
  padding-top: 82px;
  padding-left: 42px;
}

.p-sidebar__menu {
  font-family: "M+ Type-1 (general-j) Regular";
  font-weight: 500;
  padding-top: 90px;
  padding-left: 46px;
  font-size: 1.3vw;
  line-height: 1.2;
}

.p-sidebar__menu a {
  display: block;
  font-weight: 400;
}

.p-sidebar__menu a:visited,
.p-sidebar__menu a:link {
  color: #707070;
}

.p-sidebar__menu a:hover {
  color: #a0a0a0;
}

.p-sidebar__menu .sub-menu {
  padding-top: 45px;
  font-size: 1.05vw;
  line-height: 1.2;
}

.p-sidebar__menu .sub-menu li {
  padding-left: 26px;
  padding-bottom: 30px;
}

.p-sidebar__menu .sub-menu li:last-child {
  padding-bottom: 52px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(376px);
            transform: translateX(376px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(376px);
            transform: translateX(376px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.p-archive {
  width: auto;
  height: 100%;
}

.p-archive > h2 {
  padding-top: 67px;
}

@media screen and (max-width: 961px) {
  .p-archive > h2 {
    padding-top: 43px;
  }
}

@media screen and (max-width: 640px) {
  .p-archive > h2 {
    padding-top: 35px;
    font-size: 2.8rem;
    line-height: 1.2;
  }
}

.p-archive > p {
  padding-bottom: 70px;
  font-weight: 300;
}

@media screen and (max-width: 961px) {
  .p-archive > p {
    padding-bottom: 37px;
  }
}

@media screen and (max-width: 640px) {
  .p-archive > p {
    padding-bottom: 20px;
    line-height: 1.2;
    font-weight: normal;
  }
}

.editor-styles-wrapper {
  width: auto;
  height: 100%;
  font-family: "M PLUS 1p";
  margin-top: 67px;
  margin-bottom: 130px;
}

.editor-styles-wrapper .wp-block {
  max-width: 830px !important;
  width: auto !important;
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
  max-width: 1080px;
  width: auto !important;
}

.editor-styles-wrapper .wp-block[data-align="full"] {
  max-width: none;
  width: auto !important;
}

@media screen and (max-width: 640px) {
  .editor-styles-wrapper {
    margin-top: 35px;
    margin-bottom: 71px;
  }
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper p,
.editor-styles-wrapper ul,
.editor-styles-wrapper ol,
.editor-styles-wrapper li {
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #3c2a10;
}

.editor-styles-wrapper h2 {
  margin-bottom: 30px;
  font-size: 3.6rem;
  line-height: 1.2;
}

.editor-styles-wrapper h3 {
  margin-bottom: 30px;
  font-size: 2.8rem;
  line-height: 1.2;
}

.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 1.2;
}

.editor-styles-wrapper p {
  margin-bottom: 30px;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
}

.editor-styles-wrapper blockquote {
  padding: 50px;
  margin-bottom: 50px;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
  background: #f5f5f5;
}

@media screen and (max-width: 640px) {
  .editor-styles-wrapper blockquote {
    padding: 30px 16px 31px 20px;
  }
}

.editor-styles-wrapper blockquote:before {
  content: '"';
  margin-right: 5px;
  display: inline;
}

.editor-styles-wrapper blockquote:after {
  content: '"';
  display: inline;
  margin-left: 5px;
}

.editor-styles-wrapper .size-large img {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

@media screen and (max-width: 640px) {
  .editor-styles-wrapper .size-large img {
    margin-bottom: 30px;
  }
}

.editor-styles-wrapper .wp-block-media-text {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 60px;
}

@media screen and (max-width: 640px) {
  .editor-styles-wrapper .wp-block-media-text {
    margin-bottom: 30px;
  }
}

.editor-styles-wrapper .wp-block-media-text__media img {
  height: auto;
  min-height: 189px;
}

.editor-styles-wrapper .wp-block-group {
  margin-bottom: 43px;
  -o-object-fit: cover;
     object-fit: cover;
}

.editor-styles-wrapper .wp-block-group .blocks-gallery-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 961px) {
  .editor-styles-wrapper .wp-block-group .blocks-gallery-grid::after {
    content: "";
    display: block;
    width: 49%;
    height: 205px;
  }
}

@media screen and (max-width: 961px) and (max-width: 640px) {
  .editor-styles-wrapper .wp-block-group .blocks-gallery-grid::after {
    width: 0;
    height: 0;
  }
}

.editor-styles-wrapper .wp-block-group .blocks-gallery-grid .blocks-gallery-item {
  height: 257px;
}

@media screen and (max-width: 961px) {
  .editor-styles-wrapper .wp-block-group .blocks-gallery-grid .blocks-gallery-item {
    height: 205px;
    margin: 0 16px 16px 0;
    width: 45%;
  }
  .editor-styles-wrapper .wp-block-group .blocks-gallery-grid .blocks-gallery-item:nth-child(even) {
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 640px) {
  .editor-styles-wrapper .wp-block-group .blocks-gallery-grid .blocks-gallery-item {
    margin-right: 0;
    width: 100%;
    height: 205px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.editor-styles-wrapper ol,
.editor-styles-wrapper ul {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
}

.editor-styles-wrapper ol li,
.editor-styles-wrapper ul li {
  margin-bottom: 20px;
  margin-left: 50px;
}

.editor-styles-wrapper code {
  padding: 50px;
  margin-bottom: 50px;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 300;
  background: #f5f5f5;
  display: block;
}

.editor-styles-wrapper table,
.editor-styles-wrapper tr,
.editor-styles-wrapper td {
  border-collapse: collapse;
  border: 1px solid #707070;
}

.editor-styles-wrapper table {
  width: 100%;
  margin-bottom: 60px;
  color: #3c2a10;
  background-color: #fff;
  font-size: 16px;
}

.editor-styles-wrapper table tbody tr td {
  padding-top: 31px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-weight: 400;
}

.editor-styles-wrapper table tbody tr td:first-child {
  width: calc(429 / 1353 * 100%);
}

@media screen and (max-width: 640px) {
  .editor-styles-wrapper table tbody tr td:first-child {
    width: calc(135 / 336 * 100%);
  }
}

@media screen and (max-width: 640px) {
  .editor-styles-wrapper .button_wrapper {
    text-align: center;
  }
}

.editor-styles-wrapper .button_wrapper button {
  padding: 44px 191px;
  margin-bottom: 65px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #f2ede9;
  border: solid 1px #707070;
  border-radius: 20px;
}

@media screen and (max-width: 640px) {
  .editor-styles-wrapper .button_wrapper button {
    padding: 31px calc(50% - 30px);
  }
}

.editor-styles-wrapper .pbold {
  font-size: 1.6rem;
  font-weight: 500;
}

.p-footer__inner {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "M PLUS 1p";
}

.p-footer__link ul {
  position: absolute;
  top: 43px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 300px;
}

.p-footer__link ul li {
  display: inline-block;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #fff;
}

.p-footer__link ul li a {
  color: #fff;
}

.p-footer__link p {
  position: absolute;
  left: 50%;
  top: 105px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: 300;
  color: white;
}
